.Services {
    height: auto;
    padding: 32rem 1rem;
    display: flex;
    flex: 1;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.awesome> :nth-child(1) {
    font-size: 2.5rem;
    color: rgb(133, 242, 242);
    font-weight: bold;

}

.awesome> :nth-child(2) {
    font-size: 2.4rem;
    color: brown;
    font-weight: bold;
}

.awesome> :nth-child(3) {
    font-size: 1.5rem;
    color: rgb(226, 86, 184);
    margin-top: 0.5rem;
    font-weight: bold;
}

.s-button {
    width: 10rem;
    height: auto;
    margin-top: 1rem;
}

.AllCard {
    height: auto;
    width: auto;
    left: 100px;
}

.cards {
    height: auto;
    display: flex;
    position: absolute;
    left: rem;
    text-align: center;
    align-items: center;
}

.cards>* {
    height: auto;
    position: relative;
    display: flex;
}