.card{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    background-color: rgb(202, 165, 236);
    border: 3px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 4px 25px 2rem 16px;
    min-block-size: 2px;
    vertical-align: middle;
}
.card span:nth-of-child(2){
    color: (--gray);
    font-size: 18px;
}
.c-button{
    background-color: aquamarine;
    box-shadow: 3px 15px 60px ;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 8px;
    color: blueviolet;
}