.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}
.w-right{
    position: relative
}
.w-maincircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: rgb(235, 194, 226);
}
.w-secCircle>*{
    position: absolute;
}
.w-secCircle > :nth-child(1){
    top: -9.5rem;
    left: -9.5rem;
}
.w-secCircle {
    width: 6rem;
    height: 6rem;
    top: 6rem;
    left: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
}
.w-secCircle > img{
    transform: scale(0.1);
    align-items: center;
}
.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;

}
.blueCircle{
    background: blue;
    top: 1rem;
    left: 20rem;
}
.yellowCircle{
    background: yellow;
    top: 8rem;
    left: 20rem;
}