.intro{
    display: flex;
    height: 7vh;
    margin-top: 6rem;
}
.i-left{
    display: flax;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;

}
.i-name>:nth-child(3){
    color: var(rgb(225, 81, 81));
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
}
.i-name>:nth-child(4){
    color: rgb(233, 35, 117);
    font-size: bold;
    font-size: 1rem;
}
.i-button {
    width: 7rem ;
    height: 3rem;
    margin-top: 10px;
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}
.i-icons>*{
    transform: scale(1.5);
}
.i-icons>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
    border-image: space;
    border-radius: 2px;
    text-align: center;
    align-items: center;
}
.i-right>*{
    position: absolute;
    height: auto;
    
}
.responsive{
    height: auto;
    width: 300px;
    border-radius: 50%;
    border: 12%;  
    max-width: 100%;
}

.blur{
    position: absolute;
    width: 22rem;
    height: auto;
    border-radius: 50%;
    background: rgb(59, 43, 201);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
