.footer{
    display: flex;
    align-items: center;
    background-color: aqua;
    margin: -0.2rem -2.5rem;
    position: relative;
    margin-top: 1rem;
    border-radius: 1rem;
}
.f-contact{
    /* position: absolute; */
    display: flex; align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    margin: 4rem;
    gap: 2rem;
    color: blue;
    font-weight: bold;
}
.f-icons{
    display: flex;
    gap: 2rem;
}