.Floating{
    justify-content: space-around;
    display: flex;
    background: rgb(143, 140, 192);
    box-shadow: var(--boxshadow);
    border-radius: 17px;
    align-items: center;
    padding: 2px 20px 0px 5px;
    height: 4.5rem;
    top: 20px;
    text-align: center;
}
